div {
    font-family: 'open-san';
}
body {
    height: 100vh;
    background-image: url("./assets/tile.jpeg");
    background-position: center;
    background-repeat: repeat;
}

h1 {
    display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        font-size: 70px;
        text-align: center;
        font-family: 'Open Sans';
        
}

.form {
    background-image: url("./assets/assets.jpeg");
    height: 300px;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5%;
}

label {
    float: left;
    font-family: 'open-san';
    font-size: 200%;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 1%;
}

#datelabel {
    margin-top: 5px;
}

#timelabel {
    margin-top: 25px;
}

/* סגנון אזור כתיבת המשימה */
#task {
    float: right;
    width: 80%;
    display: block;
    margin-top: .8%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 300%;
    font-family: 'open-san';
    border: none;
}

/* הגולל */
#task::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#task::-webkit-scrollbar-track {
    border: 1px solid rgb(231, 149, 27);
    border-radius: 10px;
}

#task::-webkit-scrollbar-thumb {
    background: rgb(231, 149, 27);
    border-radius: 10px;
}

#task::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 125, 26);
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 100%;
    font-family: 'open-san';
}


:-ms-input-placeholder {
    text-align: center;
    font-size: 200%;
    font-family: 'open-san';
}


#date {
    float: left;
    width: 200px;
    margin-top: 5px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 150%;
    font-family: 'open-san';
}


#time {
    float: left;
    width: 200px;
    margin-top: 25px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 150%;
    font-family: 'open-san';
}

/* Save Button styles */
#saveBtn {
    width: 100px;
    height: 50px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'open-san';
}

#resetBtn {
    width: 100px;
    height: 50px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'open-san';
}


.errorList {
    margin: 0px;
    padding: 0px;
}

/* סגנון הודעת שגיאה */
h2 {
    display: block;
    text-align: center;
    margin-top: 3%;
    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
    color: red;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.notesContainer {
    display: block;
    margin-left: 10%;
}

.smallnote {
    background-image: url("./assets/notebg.png");
    min-width: 175px;
    height: 300px;
    background-repeat: no-repeat;
    float: left;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 0px;
    padding: 0px;
}

.smallnote {
    animation: fadein 1s
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* סגנון תוכן המשימה בפתקית */
p.smallnotetask {
    max-width: 150px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 150%;
    font-family: 'open-san';
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
}

p.smallnotetask::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

p.smallnotetask::-webkit-scrollbar-track {
    border: 1px solid rgb(30, 27, 231);
    border-radius: 10px;
}

p.smallnotetask::-webkit-scrollbar-thumb {
    background: rgb(30, 27, 231);
    border-radius: 10px;
}

p.smallnotetask::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 27, 231);
}


p.smallnotedate {
    float: right;
    position: absolute;
    margin-left: 30px;
    padding-top: 170px;
    font-size: 100%;
    font-family: 'open-san';
}

.smallnotenote:hover .glyphicon {
    display: block;
    position: absolute;
}

.glyphicon {
    float: left;
    margin-left: 140px;
    margin-top: 30px;
    font-size: 200%;
    display: none;
    color: red;
    padding: 0px;
    margin-bottom: 0px;
}